.btnpurple {
  color: #fff !important;
  background-color: #6754e2 !important;
  border-color: #6754e2 !important;
 
}

.btnpurple:hover {
  color: #fff;
  background-color: #6754e2 !important;
  border-color: #6754e2 !important;
}

.bgPurple {
  background-color: #6754e2;
}

.textPurple {
  color: #6754e2;
}



